body {
    margin: 0; 
    background-color:white;
    font-family: 'Rubik', sans-serif; 
}

.header {
    position: fixed;  
    width: 100vw; 
    z-index:1;
    text-align: center;
    text-transform: uppercase; 
    left: 0;
    top: 0;
    background-color:white; 
}

.nav-ul {
    list-style: none; 
    display: flex; 
    padding: 0;  
}

.blog {
    top: 70px; 
    margin: 0; 
    padding:0px;
    padding-right: 10px; 
    font-size: 16px; 
}

.contact {
    top: 70px; 
    margin: 0; 
    padding-left: 10px; 
    font-size: 16px; 
    margin-bottom: 13px;
    color: #4a4a4a; 
}

.blog-link {
    text-decoration: none;
    color: #4a4a4a;
}

.contact-link {
    text-decoration: none;
    color: #4a4a4a;
}

.logo {
    width: 155px;
    justify-content: center;
    align-items: flex-end; 
    flex-direction:column;
    z-index: 2;
    margin-top: 10px;     
}

.turquoise-background{ 
    z-index: 3;
    background-color: #14d9c4; 
    align-items: center;
    margin: auto; 
    flex-direction: column; 
    bottom: 0px; 
    left: 0px;
    height: 100vh;
    display: flex; 
    padding-bottom: 10px; 
    top: 250px;
    text-transform: capitalize;  
    color: white; 
}

.text-container {
    width: 155px; 
    height: 100%; 
    text-align: center; 
}
.text-h1 {
    margin:auto; 
    margin-top: 140px; 
    font-weight: bold; 
    font-size: 30px; 
    position: relative; 
    top: 100px; 
}

.nav-container {
    width: 160px;
}

/* .header-nav {  esto ya no se usa, mirar si quieres aplicar estos estilos a otro div
    opacity: 0.90; 
    line-height: 30px; 
    text-align: center; 
    justify-content: center; 
    height: 120px;
} */

.ul-container {
    margin-left: 10px;
    display: inline-flex;
}

/* MEDIAQUERY FOR TABLET AND DESKTOP */

@media all and (min-width: 768px) {
    .text-container {
        width: 200px; 
    }

    .header {
        position:fixed; 
        display: flex; 
        justify-content: space-between;
        height: 100px;
        /* flex-wrap: wrap; */
    }
    
    .text-h1 {
        font-size: 40px; 
        width: 200px; 
    }

    .nav-container {
        width: 100%;  
        }

    .logo {
        /* padding-top: 20px;  */
        padding-left: 30px; 
        padding-top: 20px;
        padding-bottom: 20px; 
        margin: 0;    
    } 

    .contact {
        padding-top: 20px;
        padding-right: 30px;
        margin:0;  
        margin-left: 20px; 
    }

    .blog {
        padding-top: 20px;
    }

    .ul-container { 
        margin-right: 25px;
    }
}

