body {
    margin: 0; 
    background-color:white;
    font-family: 'Rubik', sans-serif; 
}

.header {
    position: fixed;  
    width: 100vw; 
    z-index:1;
    top: 0; 
    left: 0; 
    text-align: center;
    text-transform: uppercase; 
    background-color:white; 
}

.header-nav { 
    opacity: 0.90; 
    line-height: 30px; 
    display: flex; 
    text-align: center; 
    justify-content: center; 
    height: 120px;
}

.nav-ul {
    list-style: none; 
    display: flex; 
    padding: 0;  
}

.blog {
    position: relative; 
    top: 70px; 
    margin: 0; 
    padding:0px;
    padding-right: 10px; 
    font-size: 16px; 
}

.contact {
    position: relative; 
    top: 70px; 
    margin: 0; 
    padding-left: 10px; 
    font-size: 16px; 
    margin-bottom: 13px;
    color: #4a4a4a; 
}

.blog-link {
    text-decoration: none;
    color: #4a4a4a;
}

.contact-link {
    text-decoration: none;
    color: #4a4a4a;
}

.logo {
    width: 155px;
    display: block;
    justify-content: center;
    align-items: flex-end; 
    flex-direction:column;
    position: absolute;;
    z-index: 2;
    margin-top: 10px;
    margin-left: 100px; 
    margin-right: 40px;      
}

.turquoise-background{ 
    z-index: 3;
    background-color: #14d9c4; 
    align-items: center;
    margin: auto; 
    flex-direction: column; 
    bottom: 0px; 
    left: 0px; 
    height: 100vh;
    display: flex; 
    padding-bottom: 10px; 
    top: 250px;
    text-transform: capitalize;  
    color: white; 
}

.text-container {
    width: 155px; 
    height: 100%; 
    text-align: center; 
}
.text-h1 {
    margin:auto; 
    margin-top: 140px; 
    font-weight: bold; 
    font-size: 30px; 
    position: relative; 
    top: 100px; 
}



